<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
    </head>
    <body class = "body">
        <div class="navigation">
            <div class="menu-item1">
                Flasky
            </div>
            <div class="menu-item2">
                Home
            </div>
        </div>
        <br><br>
        <div>
            <div class="intro" id="welcome">
                Hello, Stranger!
            </div>
            <br>
            <div class="intro" id = "email-result">
            </div>
            <br>
            <b>What is your name?</b>
            <br>
            <input placeholder="Enter Name" id="user">
            <br><br>
            <b>What is your UofT Email Address?</b>
            <br>
            <input placeholder="Enter Email" id="email">
            <br><br>
            <button id="submit">Submit</button>
        </div>
        <br><br>
        <hr class="hrstyle">
        <div id="date-time">
        </div>
    </body>
    <script src="../static/index2.js"></script>
</html>